body{
    background-color: oldlace;
    padding: 0;
    margin:0;
}

.container{
    background-color: yellow;
    height:100vh;
    width:100%; 
     display: flex;
    justify-content: center;
    align-items: center;
}

.gallery{
    display:grid;
    max-height:100vh;
    width:80%;  
    grid-template-rows:repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    
overflow: hidden;
    gap:20px;
}

.gallery-item{
    max-height:40vh;
    border:2px solid black;
    overflow: hidden;
    /* object-fit: cover; */
}

.gallery-item img{
    width: 100%;
    height:100%;
    object-fit:cover;
}

.modal{
    display:none; 
    align-items: center;
    justify-content: center;
    position:fixed;
    top:10vh;
    left:0;
     width:100%;
    height:70%;
    background-color:grey;
    z-index:1000;
}

.modalContent{
    display:flex;
    
    align-items: center;
    justify-content: center;
    position:relative;
}

.modalContent img{
    
        max-width: 90%;
        max-height: 70vh;
        margin: auto;
        display: block;
        border:2px solid white;
   
}

.modalContent button{
    height:50px;
    background-color: beige;
}

/* .closebutton{
    top:20%;
    left:70%;
    position:absolute;
} */

